<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="">
    <Properties>
        <Property name="basePath">../OWASP_parser/logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="FILE" fileName="${basePath}/logfile.log" append="true"
                     filePattern="${basePath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | %p| [%c{2}:%t]: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%c{2}:%t] -  %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
