<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="">
    <Properties>
        <Property name="basePath">.</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="FILE" fileName="${basePath}/OWASP_Parser.log" append="true"
                     filePattern="${basePath}/logfiles/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | %p| [%c{2}:%t]: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%c{2}:%t] -  %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <root level="debug">
            <appender-ref ref="STDOUT" level="info"/>
            <appender-ref ref="FILE" level="debug"/>
        </root>
    </Loggers>
</Configuration>
